*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: rgb(146, 70, 218);
    text-align: center;
    padding: 20px;
    color: #fff;
    box-shadow: 0 2px 3px 2px #000;
}

.player-options img, .opponent-options img{
    max-width: 200px;
    opacity: 0.3;
    cursor: pointer;
}

.campo-batalha {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 8px;
}

.info {
    background-color: rgb(238, 238, 182);
    padding: 20px;
    text-align: center;
    display: none;
}